<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BurnyMcDull的个人博客</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/blog/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../static/blog/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="../static/blog/css/clean-blog.min.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="../">Peace & Love</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" href="../">主页</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../category">分类列表</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../about">个人简介以及联系</a>
                </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('../static/blog/img/about-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>个人介绍及网站由来</h1>
              <span class="subheading">做一只快乐的技术宅</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>信息安全专业 本科生，乐于动手，知识不够希望能通过学习来充实自己，本网站是通过对
              <a  href="https://www.zmrenwu.com">追梦人物的博客</a>进行学习以及对
              <a  href="https://startbootstrap.com/template-overviews/clean-blog">clean-blog</a>
              开源模板的更改，对于前端出了nodejs稍微有些了解外，没有开发前端的经验，审美有限便选择了合适的模板进行了修改。甚至连合适的图片都没有寻找，非常感恩大佬的无偿教学，以及开源精神。 
          </p>
          <p>
            网站来历，源自于一次对于别人基于django的个人博客的渗透测试，在渗透学习的过程中，觉得个人博客很有意义，并且可以顺带了解django的结构以及使用方法。便在中途搭建了这个博客，记录自己的学习过程，也方便自己更深刻的了解攻防。  
          </p>
          <p>
            本网站主要目的是提供一个平台给我和小伙伴们一个记录学习经历的地方，如果有朋友看到也愿意加入非常欢迎！可以通过github，微博等等方式进行联系，为避免邮件混乱且新邮箱也不会去随时查看，暂时只支持这几种方式进行联系！
          </p>
        </div>
      </div>
    </div>

    <hr>

    <!-- Footer -->
<!-- Footer -->
<footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="https://weibo.com/p/1005056161613391">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-weibo fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
            <li class="list-inline-item">
              <a href="https://github.com/BurnyMcDull">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">&copy; BurnyMcDull的个人博客</p>
          <p class="copyright text-muted"><a href="http://www.miitbeian.gov.cn" target="_blank">京ICP备17058747号</a></p>
        </div>
      </div>
    </div>
  </footer>


    <!-- Bootstrap core JavaScript -->
    <script src="../static/blog/vendor/jquery/jquery.min.js"></script>
    <script src="../static/blog/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../static/blog/js/clean-blog.min.js"></script>

  </body>

</html>
